<div class="text-center container">
  <h1> Welcome To Pairr </h1>
  <br><br>
  <%= link_to "Find Pairs", matches_path, class: "btn btn-success" %>
  <% if current_user.matches %>
  <br><br><br><br>
    <% current_user.matches.each do |match| %>
    <h4>You've been matched! Time to pair </h4>
      <%= "#{current_user.username} + #{match.username} are a match!" %>
    <% end %>
  <% end %>
</div>
