<div align="center">
  <h2> Please Tell Us Some More Information </h2>
  <br><br>
  <%= bootstrap_form_for(@user) do |f| %>
    <div class="container">
      <%= f.text_area :about, label: "Some Information About Yourself -- Maximum 500 Characters" %>
    </div>
    <%= f.collection_check_boxes :about, @languages, :id, :name %>
    <%= f.submit "Update Your Information", class: "btn btn-success" %>
  <% end %>
</div>
